/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS styling */



@font-face {
    font-family: "Roboto-Medium";
    src: url("fonts/Roboto-Medium.ttf");
}


body {
    font-family: 'Roboto-Medium', 'Segoe UI', Tahoma, Geneva, Verdana;
    height:100vh;

    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
	background-color: #f5f5f4;
}

header {
    grid-row: 1 / 1;
    grid-column: 2 / -1;
    display:grid;
	grid-template-columns:4fr 1fr; 
	padding:16px;
}

header .title {
	font-size:4rem;
	display:flex;
	align-items:center;
	justify-content:center;
}

header .menu {
	display:flex;
	justify-content:end;
	padding:16px;
	gap:16px;
}

header .menu a {
	text-decoration:none;
	color:maroon;
}

.body {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
	padding:32px 0px;
}

#books {
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows:repeat(auto-fill, 1fr);
	gap:32px;
}

.body #books .bookCard {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 4fr 3fr;
	padding:16px;
	border-radius:20px;
	align-items:center;
	justify-content:center;
	row-gap:8px;

	background-color: #818cf8;
}

.bookCard img {
	grid-column: 1 / 4;
	grid-row: 2 / 4;
	max-width:100%;
	height:100%;
	object-fit: cover;
	overflow:auto;
	border-radius:10px;
}

.bookCard .contentContainer {
	grid-column: 1 / -1;
	grid-row: -1 / -1;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:16px 0px;;
}

.contentContainer h1 {
	font-size:2rem;
	font-weight:600;
	text-align:center;
}

.bookCard .remove {
	grid-column: 1 / 1;
	background-image: url('images/remove.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:1.75rem;
	
}

.notRead, .read {
	grid-column: 3 / -1;
	
}

.bookCard .remove, .bookCard .notRead {
	border-radius:100px;
	height:3rem;
	width:3rem;
	border: .1px solid black;
	font-weight:600;
	background-color:#fbbf24;
	font-size:16px;
}

.addButton {
	grid-row: 2 / 3;
	grid-column: 3 / 3;
	padding:16px;
}

.addButton button {
	position:fixed;
	bottom:1%;
	right:1%;
	width: max(6rem, 50px);
	height: max(6rem, 50px);
	border-radius:100%;
	font-size:3rem;
	font-weight:600;
	border: .1px solid black;
}

form {
	position:fixed;
	bottom:15%;
	right:1%;

	display:flex;
	justify-content:center;
	align-items:center;
}

fieldset {
	border:.1px solid black;
	border-radius:20px;
	padding:16px 32px;
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:black;
}

.prompt {
	display:grid;
	padding:8px;
	gap:4px;
	color:white;
}

input {
	background-color:gray;
}

fieldset .submitBtn {
	margin:8px;
	width:50%;
	height:2rem;
}

form.hide {
	display:none;
}


footer {
    grid-row: 3 / -1;
    grid-column: 2 / 2;
    display:flex;
    justify-content:center;
    padding:16px;
    align-items:end;
}